# Generated manuscript output files
output/*
!output/README.md

webpage/v

# Manubot cache directory
ci/cache

# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Misc temporary files
*.bak

# SCH - set to ignore rstudio files
*.Rproj.user
*.Rproj
.Rproj.user

# Don't make budgets public
budgets/*

# Stupid Mac Folder crap
.DS_Store